
<main>
    <div class="inner">
        
        <div class="c-1 password-form ">
            <h1>{{ title }}</h1>
                
            {{ partial:content_types }}
            
            
            {{ protect:password_form }}
            {{ form:set is="password_form" }}
        
                {{ if no_token }}
                    No token has been provided.
                {{ /if }}
            
                {{ if error }}
                    {{ error }}
                {{ /if }}
            
            <div class="form-group">
                <input type="password" name="password"  />
            
                <button class="button">Submit</button>
            </div>
            
                {{ if {form:success} }}
                    {{ session:set allowed="true" }}
                {{ /if }}
            {{ /form:set }}
        
            {{ /protect:password_form }}
            
    </div>

    
    </div>
</main>