<main>
    <div class="inner">
        <div class="grid toolkit-header">
                <img src="/assets/Icons/Fruit-Veg-Color.svg">
            <div>
                <h3>Links toolkit:</h3>
                <h1>{{ title }}</h1>
                <p>{{ page_content }}{{ if type == "simple_text_block" }}{{ text_block }}{{ /if }}{{ /page_content }}</p>
            </div>
        </div>

      <div class="toolkit sodium">

    {{ partial:sodium/sidebar }}

    <div id="Container" data-filter-regions>

      <div class="fail-message"><span>No links were found matching the selected filters</span></div>

      <!-- <div class="group pinned">
          <div class="container sodium-resources">
          {{ collection from="sodium" pinned:is="true" }}
                  {{ partial:sodium/item }}
          {{ /collection }}
          </div>
      </div> -->

    <div class="group global">
        <h2>Global</h2>
        <div class="container sodium-resources">
           {{ collection from="sodium" pinned:is="true" }}
              {{ partial:sodium/item }}
           {{ /collection }}
        {{ collection from="sodium" pinned:is="false" taxonomy:resource-region="global" }}
            {{ partial:sodium/item }}
        {{ /collection }}
        </div>
    </div>

    <div class="group asia">
       <h2>Asia</h2>
       <div class="container sodium-resources">
          {{ collection from="sodium" pinned:is="false" taxonomy:resource-region="asia" }}
          {{ partial:sodium/item }}
          {{ /collection }}
       </div>
    </div>

    <div class="group ausnzapacis">
        <h2>Australia, New Zealand and Pacific Islands </h2>
        <div class="container sodium-resources">
        {{ collection from="sodium"  pinned:is="false" taxonomy:resource-region="ausnzapacis" }}
            {{ partial:sodium/item }}
        {{ /collection }}
        </div>
    </div>

    <div class="group europe">
        <h2>Europe</h2>
        <div class="container sodium-resources">
        {{ collection from="sodium" pinned:is="false" taxonomy:resource-region="europe" }}
            {{ partial:sodium/item }}
        {{ /collection }}
        </div>
    </div>


    <div class="group latincab">
        <h2>Latin America and the Caribbean </h2>
        <div class="container sodium-resources">
       {{ collection from="sodium" pinned:is="false" taxonomy:resource-region="latincab" }}
            {{ partial:sodium/item }}
        {{ /collection }}
        </div>
    </div>

    <div class="group me-na">
        <h2>Middle East and North Africa </h2>
        <div class="container sodium-resources">
        {{ collection from="sodium" pinned:is="false" taxonomy:resource-region="me-na" }}
            {{ partial:sodium/item }}
            {{ /collection }}
        </div>
    </div>

    <div class="group namerica">
        <h2>North America</h2>
        <div class="container sodium-resources">
       {{ collection from="sodium" pinned:is="false" taxonomy:resource-region="namerica" }}
            {{ partial:sodium/item }}
        {{ /collection }}
        </div>
    </div>

   <div class="group ssafrica">
       <h2>Sub-Saharan Africa </h2>
       <div class="container sodium-resources">
       {{ collection from="sodium" pinned:is="false" taxonomy:resource-region="ssafrica" }}
           {{ partial:sodium/item }}
       {{ /collection }}
       </div>
   </div>

    </div>    <!-- End of #Container -->

</div>    <!-- End of Toolkit -->


    {{ partial:toolkit/script }}

    </div>
</main>