        <div class="mix{{ resource-region }} {{ slug }}{{ /resource-region }}{{ resource-language }} {{ slug }}{{ /resource-language }}{{ resource-source }} {{ slug }}{{ /resource-source }}{{ guidance-type }} {{ slug }}{{ /guidance-type }}{{ policy }} {{ slug }}{{ /policy }}{{ country }} {{ slug }}{{ /country }}{{ setting }} {{ slug }}{{ /setting }}{{ if pinned=="true" }} key{{ /if }}">
             
             
             <h4><a href="{{ if attachment }}{{ attachment }}{{ else }}{{ link_url }}{{ /if }}" target="_blank">{{ title }}</a></h4>
             
                   <a href="{{ if attachment }}{{ attachment }}{{ else }}{{ link_url }}{{ /if }}" target="_blank" class="sodium-thumb">
                       {{ if pinned=="true" }}
                       <p class="key-r">Key Resource</p>
                       {{ /if }}
                       <img src="{{ link_thumbnail }}" alt="{{ title }}" >
                </a>
     
                  <p class="source">{{ source }}</p>

                    
               {{ description }}
             
             {{ if additional_resources }}
             <p><strong>Additional Resources</strong></p>
             <ul class="links-list">
               {{ additional_resources }} 
                   <li><a href="{{ additional_resource_url }} " target="_blank">{{ additional_resources_text }}</a></li>
               {{ /additional_resources }}   
               </ul>           
             {{ /if }}

    
     </div> 