        <div class="mix{{ resource-category }} {{ slug }}{{ /resource-category }}{{ resource-type }} {{ slug }}{{ /resource-type }}{{ resource-region }} {{ slug }}{{ /resource-region }}{{ resource-language }} {{ slug }}{{ /resource-language }}{{ resource-source }} {{ slug }}{{ /resource-source }}">
             
             
              <div class="grid toolkit item">	
             
             <a href="{{ if attachment }}{{ attachment }}{{ else }}{{ link_url }}{{ /if }}" target="_blank" class="min">
                  <img src="{{ link_thumbnail }}" alt="{{ title }}" >
           </a>
           <div>
                  <p><a href="{{ if attachment }}{{ attachment }}{{ else }}{{ link_url }}{{ /if }}" target="_blank">{{ title }}</a></p>
               
   
                    
               {{ description }}
             
             {{ if additional_resources }}
             <p><strong>Additional Resources</strong></p>
             <ul class="links-list">
               {{ additional_resources }} 
                   <li><a href="{{ additional_resource_url }} ">{{ additional_resources_text }}</a></li>
               {{ /additional_resources }}   
               </ul>           
             {{ /if }}
             </div>
          </div>
     </div> 