
// Sodium Bibliography

 
.biblio .sidebar {
  font-size: 0.875rem;
}

.biblio .sidebar ul {
  list-style-type: none;
}

.biblio .sidebar li {
  margin-top: 1rem;
}

.biblio .sidebar ul ul {
  margin: 0 0 1rem 1.5rem;
  font-weight: normal;
}

.biblio .sidebar ul ul li {
  margin-top: 0;
}

.biblio .sidebar a:not(.no-tab) {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
}

.biblio .sidebar ul ul a {
  grid-template-columns: 1.75rem 1fr;
}
  
.biblio h1 a, .biblio h2 a, .biblio h3 a, .biblio h4 a   {
      text-decoration:none;
}
  
.biblio .sidebar span {
  color: #e43721;
}
    
.biblio main p + h1, .biblio main ul + h1 {
  margin-top: 4.8rem;
  border-top: 1px solid #ddd;
  padding-top: 1.6rem;
}

.biblio main p + h2 {
  margin-top: 3.2rem;
}

.biblio main h4 + p {
  margin-top: 0.4rem;
}

.biblio main h4 {
  color: #666;
}

.biblio main h4 span {
  font-style: italic;
  /* display: block;*/
  color: #333;
}

.biblio a.back {
  color: #e43721;
  text-decoration: underline;
  display:block;
  text-align:right;
}

.biblio td {
  padding: 0.5ch 3ch;
  text-align:right;
}

