
/* FAQs */


.new {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.75rem;
  background: $links-red;
  color: #fff;
  letter-spacing: 0.08rem;
  padding: 0 .5rem;
  border-radius: 2px;
  margin-left: 1ch;
}

h2+details {
  margin-top: .5rem;
}

 details {
   position: relative;
   transition: all 0.2s ease-in-out;
   padding: 1rem 1.5rem 1rem 2.4rem;
   margin: 0 -2.4rem 0 0;
   border-radius: 8px;
 }
 
 details+details {
   margin-top: 0.6rem;
 }

 
 details:hover,
 details:focus {
   background-color: rgba(255,255,255,0.8);
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
 }
 
 details[open] {
  background: #fff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}
        
 summary {
   list-style-type: none;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
 }     

summary:hover,
 summary:focus {
   outline: none;
 }
 
 summary::-webkit-details-marker {
   display: none;
 }
 
summary::before {
  content: ' ';
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(/assets/Icons/open.svg);
  width: 24px;
  height: 24px;
  left: 0.5rem;
  top: 1rem;
  color: #F3775C;
  font-size: 1.5rem;
  font-weight: bold;
 transition: all 0.2s ease-in-out;
}
  

details[open] summary::before {
   background-image:url(/assets/Icons/close.svg)
}

ol li {
  padding: 0.75rem;
}

 details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

 details[close] summary ~ * {
  animation: sweep .5s ease-in-out;
  animation-direction: reverse;
}


@keyframes sweep {
  0%    {opacity: 0; height: 0; transform: translateY(-10px);}
  100%  {opacity: 1; height: 100%;transform: translateY(0);}
}

figure {
  padding: 0;
  margin: 0;
}

  
  