/* Layout */

body {
    line-height: 1.5;
    background-color: $bkgd;
    color: $soft-black;
}
main, section, footer {
    padding: 1rem 8vw;
}

.inner {
    max-width: 72rem;
    margin: 0 auto;
}

header {
    background-color: #fff;
    padding: $baseline 8vw;
}

header .logo svg{
    width: auto;
    height: 2.5rem;
}
.logo svg {
    transition: opacity 0.2s ease-in-out;
}
@media screen and (max-width: 600px) {
    .strapline {
        opacity: 0;
    }
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
}

nav,
nav li {
    position: relative;
}

nav ul>li {
    line-height: 2;
}

nav .active>a{
    color: $links-red;
    border-bottom: 2px solid $links-red
}

nav li a {
    color: $soft-black;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}
nav li a:hover,
nav li a:focus {
    color: $links-red;
    border-bottom: 2px solid transparent;
}

.main-menu {
    max-height: 0;
    overflow: hidden;   
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 8px;
    padding: .5rem;
    transition: all 0.2s ease-in-out;
}

.menu-icon:hover,
.menu-icon:focus {
    background: #f1f1f1;
}

.menu-icon svg {
    vertical-align: top;
    margin-right: .5rem;
}

.menu-icon svg rect {
    fill: $links-red;
    transition: all 0.2s ease-in-out;
    transform-origin: center center;
    }

#menu-toggle:checked ~ .menu-icon .bar {
    opacity: 0;
}

#menu-toggle:checked ~ .menu-icon #turn1 {
    transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-icon #turn2 {
    transform: rotate(-45deg);
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .main-menu {
    height: auto;
    max-height: 1400px;    
    padding-top: 2rem;
}

.submenu {
    font-size: 0.875rem;
    white-space: nowrap;
    padding: 0 .5rem;
    line-height: 1.75;
    transition: all 0.3s ease-in-out;
}
    
.search-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    svg {
    width: 1rem;
    height: 1rem;
  }
}

.sections li+li{
  margin-top: .5rem;
}


@media screen and (min-width: 80rem) {
    
    header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    header .logo img {
        width: 22rem;
    }
    
    .menu-icon {
        display: none;
        }

    nav input,
    nav label {
        display: none;
    }
    
    header nav ul {
        flex-direction: row;
        align-items: center;
    }
    
    .main-menu {
        max-height: auto;
        overflow: visible;   
        padding-top: 0;
        width: auto;
    }
    
    #menu-toggle:checked ~ .main-menu {
        padding-top: 0;
    }    
    
    nav li a {
        padding: .25rem .5rem;
    }
    
    .submenu {
        position: absolute;
        z-index: 1;
        flex-direction: column;
        align-items: flex-start;
        background: rgba(255,255,255,0.92);
        padding: 0 .5rem;
        left: -.5rem;
        border-radius: 4px;
        max-height: 0;
        overflow: hidden;
    }
    
    li:hover>.submenu, li:focus>.submenu {
        height: auto;
        max-height: 600px;
        padding: .5rem;
    }
    
    nav li+li {
        margin-left: 1rem;
    }
    
    .submenu li+li {
        margin-left: 0;
    }
    
    a.members:not(.allowed) {
        border: 3px solid $links-red;
        border-radius: 3rem;
        padding: .5rem 1.25rem;
    }
    
    a.members:not(.allowed)::hover,
    a.members:not(.allowed)::focus {
        border: 3px solid $links-red;  
        background-color: $links-red;
        color: #fff;      
    }

}

.indent {
    margin-left: 1rem;
}

.hero {
    margin-top: 0;
    height: 75vh;
    background-size: cover;
    background-position: center 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
}
.hero h1 {
    color: #fff;
    padding-right: 25vw;
    text-shadow: 0 0 16px rgba(0,0,0,0.5);
}


@media screen and (max-width: 35rem) {
 .hero h1 {
     font-size: 2rem;
     }   
}

footer {
    background-color: #e0e5e5;
    margin-top: 3rem;
}
.content img {
    max-width: 100%;
    height: auto;
}
.content ol,
.content ul {
    margin-left: 3rem;
}
.video {
    max-width: 100%;
    height: auto;
    padding-bottom: 56.25%; /* For 16:9 only */
    position: relative;
}
.video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
p.fr {
    float: right;
    max-width: 50%;
    margin: $baseline 0 $baseline $baseline;
}
.flex {
    display: flex;
}
/* Grids */
@media screen and (min-width: 20rem) {
    .grid:after {
      content: "";
      clear: both;
      display: table;
    }
    .grid > * {   /* basic fallback */
      width: 50%;
      padding: 1.5rem;
      float: left;
    }
    .grid>*+* {
        margin-top: 0;
    }
    @supports (display: grid)  {
        .grid {
            display: grid;
            grid-gap:$baseline * 2;
        }
        .grid:after {
          display: none;
        }
        /* override floated styles */
        .grid > * {
          width: auto;
          padding: 0;
        }
        .c-1 {
            max-width: 40rem;
            margin: 0 auto;
        }
        .full-width .c-1 {
            max-width: 100%;
            margin: 0;
        }
        .c-2 {
             grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        } 
        .c-3 {
             grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
             text-align: center;
        }       
        .c-4 {
          grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
          text-align: center;
        }   
         .c-5 {
             grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
             text-align: center;
             justify-content: center;
             justify-items: center;
        }   
        .c-5 h1 {
            font-size: 4rem;
        }     
        .c-5 h1+p {
            margin-top: 0;
        }    

        @media screen and (min-width: 760px) {
            .toolkit-header {
              grid-template-columns: 12rem 1fr;
          }   
              .sidebar-page {
              grid-template-columns: 15rem 1fr;
              grid-gap: 6rem;
          }   
        }
        
        .toolkit-header img {
          max-width: 12rem;
        }

        .sidebar {
            position: relative;
        }
        .sticky {
             position: -webkit-sticky;
             position: sticky;
            top: 1.5rem;
            overflow: auto;
        }
        .grid.three-items  {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .grid.grantees {
             grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
/*              grid-template-columns: 33.33%; */
        }
        .grid.grantee-header,
        .grid.grantee-body {
            grid-template-columns: 1fr 33%;
        }
        
        .network-list {
             grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        }
        
        .event-list {
            max-width: 56rem;
            margin: $baseline*2 auto 0 auto;
            padding-right: 7rem;
        }

        
        .event {
            display: grid;
            grid-template-columns: 6rem 1fr;
            grid-gap: 2rem;
        }
        
        .event .description {
            margin-top: 0;
        }
        
        .team-list {
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(auto-fit, 10rem);              
            }


    }
}
/* Colour Schemes */
.reverse {
    background: $links-red;
    color: #fff;    
}
.reverse+footer {
    margin-top: 0;
}
.reverse * {
    color: #fff;    
}
/* Grantees */
.grantee img {
    max-width: 100%;
    height: auto;
}
.grantee .country {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: .5rem;
}
.grantee-header>div{
    border-bottom: 1px solid $divider;
    padding-bottom: 3rem;
    margin-bottom: 1.5rem;
}
.grantee p+h3 {
    margin-top: .5rem;
}

.links * {
    margin: .5rem .5rem .5rem 0;
}
.links .icon {
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Search

.search-bar  {
    display: flex;
    max-width: 30rem;
    margin: $baseline auto;
    margin-top: $baseline * 2;
}

.search-bar.small  {
    max-width: 100%;
    margin: 0;
}
.search-bar input{
    width: 100%;
}

.search-bar *+* {
    margin-top: 0;
    margin-left: 1rem;
}

// Team List 

.person p+p {
    margin-top: 0;
}

.person h4+p {
    margin-top: 0.5rem;
}

.person  {
    font-size: 0.875rem;
}

.location {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.051rem;
    color: #666;
}

.person img{
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border: 2px solid #fff;
}

.links-list {
   list-style-type:none; 
   margin-top:.1rem; 
}

.links-list li+li {
   margin-top:.5rem; 
}

/* News */

.news-list {
     max-width: 45rem;
    margin: 0 auto;
}

.news-story+.news-story {
    border-top: 1px solid $divider;
    margin-top: $baseline;
    padding-top: $baseline * 2;
}


.news-story  {
  h2 {
    margin-top: 0.5rem;
  }
  figure {
      margin-top: 1rem;
  }
}

.news-resources {
     grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));  
     grid-gap: 1rem; 
     margin-top: .5rem;
     
     .resource a{
      display: grid;
      grid-template-columns: 3rem 1fr;   
      grid-column-gap: 1rem; 
      font-size: 0.875rem;
      align-items: center;
      transition: background 0.2s ease-in-out;
      padding: .5rem;
      line-height: 1.4;
  }
}

.news-resources .resource a:hover,
.news-resources .resource a:focus {
    background: #fff;
}

.news-resources img {
    max-width: 100%;
    height: auto;
    display: block;
}
