table {
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.4;
}

td, th {
  padding: 0.5rem;
  vertical-align: top;
  text-align: left;
}

th {
    font-weight: 700;
}

tbody, thead {
     // border-bottom: 1px solid $divider;
}

tbody {
    
    // Borders
    td, th {
      border-left: 3px solid $bkgd;
    }
    
    // Stripes
    tr:nth-child(even) {
      background: #fff;
    }
    tr:nth-child(odd) {
      background: $bkgd;
      
      td {
          border-left: 3px solid #e0e2e3;
      }
    }

}
// table tr:first-child td {
//   border-top: 0;
// }
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
// table tr:last-child td {
//   border-bottom: 0;
// }
// table tr td:last-child {
//   border-right: 0;
// }

