
/* Remove all default margins */   
* {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
font-family: proxima-nova, sans-serif; 
}
@-ms-viewport,
@viewport {
  width: device-width;
}
html {
  font-size: calc(1rem + 0.1vw);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
:focus:not(:focus-visible) { outline: none }
/* Add just the margin we want */
body * + * {
  margin-top: $baseline;
}
/* Remove margins where not needed */
header .inner *+*,
li+li,
.tags span,
.flex *+*,
footer  {
    margin-top: 0;
}
.clear:after {
  content: "";
  clear: both;
  display: table;
}
    
    
/* Typography */
a {
    color: $links-red;
    text-decoration: underline rgba(228,55,33,.3);
    text-decoration-thickness: 1px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

a:hover, 
a:focus {
    color: #333;
}   
header a,  
a.min,
a img,
a.button-link,
a.icon,
a.img-link,
a.button-link:hover,
a.icon:hover,
a.img-link:hover {
    text-decoration: none;
}
a.icon {
    display: inline-block;
}
button:not(.videoPoster),
.button,
a.button-link {
    background: $links-red;
    color: #fff;
    display: inline-block;
    line-height: 3rem;
    padding: 0 1.5rem;
    border-radius: 1.5rem;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.button:hover,
.button:focus,
a.button-link:focus,
a.button-link:hover {
    background: #555;   
    color: #fff; 
}

.button.small {
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding: 0 0.75rem;
  margin-top: 0;
}

.small {
    font-size: 0.875rem;
}

.section-link {
  text-align: right;
  margin-top: .5rem;
  
  a {
    background: url(/assets/Icons/link-icon.svg) no-repeat;
    font-size: 0.75rem;
    color: #747474;
    background-size: auto 100%;
    padding: 0 0 0 1.25rem;
  }
}

u {
  text-decoration: none;
}

h1 {
    color: $links-red;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: -.05rem;
    line-height: 1.1;
    max-width: 35ch;
}
h2 {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04rem;
}
h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
}
h3+h1 {
    margin-top: .5rem;
}
h4 {
    font-size: 1.25rem;
    line-height: 1.3;
}
h5 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1rem; 
  color: #999;
}
h5+h4 {
  margin-top: 0;
}
blockquote {
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 1px solid rgba(176,176,176,.5);
    padding-left: 1.618em;    
}
.intro {
    font-size: 1.5rem;
    font-weight: 400;
//     max-width: 45rem;
}
.centered {
    text-align: center;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}