
/* Events */


.event+.event {
    border-top: 1px solid #ccc;
    padding-top: $baseline;
}

.date-block {
    background: #fff;
    border-top: 10px solid $links-red;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1), 0 2px 3px rgba(0,0,0,0.1);
    padding: .5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    font-weight: 600;
    max-width: 6rem;
}

.date-block *+* {
    margin-top: 0;
}

.event .month {
    letter-spacing: .1rem;
    font-size: 1.25rem;
}

.event .day {
    font-size: 3rem;  
    color: $links-red; 
}

.event .end {
    font-size: 0.75rem;
}
