// Links on the Ground


.gallery {
     grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
     
     img, video {
       max-width: 100%;
       height: auto;
       display:block; 
     }

     img.photo, video {
        border: 4px solid #fff;
    }     
     figcaption {
       margin-top: .5rem;
     }
     
     .description {
       font-size: 0.875rem;
       margin-top: 1rem;
     }
}

