
/* Members Nav */

a.members {
    color: $links-red;
}

.members-nav {
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    
    .inner {
        padding-right: 3rem;
    }
}

.members-nav+* {
    margin-top: 0;
}

.members-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

@media screen and (max-width: 40rem) {
.members-nav ul {
    flex-direction: column;
    align-items: flex-end;
    }
}

.members-nav a{
    color: #666;
    border-bottom: 2px solid transparent;
}

.members-nav .active a {
    color: $links-red;
}

@media screen and (min-width: 40rem) {
.members-nav li+li {
    margin-left: 1.5rem;
    }
}
