
<main>
    <div class="inner">
        
        <h1 class="centered">{{ title }}</h1>
        
        <div>
            <img src="/assets/General/LINKS-grantees-map.svg" alt="World map showing countries with LINKS Grantees">
        </div>
        
        
        
        <h3 class="centered">Second round grantees</h3>
        
        <div class="grid grantees">
        {{ collection:grantees as="entries" }}

            {{ entries }}
                <div class="grantee">
                                
                    <p><a href="/about/grantees/{{ slug }}" class="img-link"><img src="{{ grantee_logo }}" alt="{{ title }} Logo"></a></p>
                    <p><a href="/about/grantees/{{ slug }}">{{ title }}</a></p>
                    
                    <p class="country">{{ country }}</p>
                    
                </div>
    
            {{ /entries }}
        
        {{ /collection:grantees }}
        </div>
        
        {{ partial:content_types }}

    </div>
</main>