<main>
    <div class="inner">
        <img src="{{ section_icon }}" class="header-image">              
                        
    <h3>Links toolkit:</h3>   
    <h1>{{ title }}</h1>
    
    <div class="toolkit">	
              
    
<!--     Sidebar -->

<form class="controls" id="Filters">

  <div class="sidebar">

  <fieldset>

   <input id="category-toggle" type="checkbox" class="filter-toggle"><label for="category-toggle" title="Choose a Category">Category</label>
    
    <div class="toggle" style="display: block">  
    
     {{ taxonomy:resource-category sort="title:asc" }}
        <div class="checkbox category-options">
            <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
            <label for="{{ slug }}">
                <img src="{{ category_icon }}{{ value }}{{ /category_icon }}">
                <span>{{ title }}</span>
            </label>
        </div>
    {{ /taxonomy:resource-category }}
    
    </div> 
    
  </fieldset>
  
    
  <fieldset>
      
        <input id="resource-toggle" type="checkbox" class="filter-toggle"><label for="resource-toggle" title="Filter by Resource Type">Resource Type</label>
    
        <div class="toggle">    
         {{ taxonomy:resource-type sort="title:asc" }}
            <div class="checkbox category-options">
                <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
                <label for="{{ slug }}">
                    { title }}
                </label>
            </div>
        {{ /taxonomy:resource-region }}     
        </div>
  </fieldset>
  
  <fieldset>
            <input id="region-toggle" type="checkbox" class="filter-toggle"><label for="region-toggle" title="Filter by Region">Region</label>
    
    <div class="toggle">    
     {{ taxonomy:resource-region sort="title:asc" }}
        <div class="checkbox category-options">
            <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
            <label for="{{ slug }}">
                { title }}
            </label>
        </div>
    {{ /taxonomy:resource-region }}     
    </div>
  </fieldset>
  
  <fieldset>
     <input id="language-toggle" type="checkbox" class="filter-toggle"><label for="language-toggle" title="Filyter by Language">Language</label>
    
    <div class="toggle">    
     {{ taxonomy:resource-language sort="title:asc" }}
        <div class="checkbox category-options">
            <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
            <label for="{{ slug }}">
                { title }}
            </label>
        </div>
    {{ /taxonomy:resource-language }}
  </fieldset>


  <fieldset>
            <input id="source-toggle" type="checkbox" class="filter-toggle"><label for="source-toggle" title="Filter by Source">Source</label>
    
    <div class="toggle">    
     {{ taxonomy:resource-source sort="title:asc" }}
        <div class="checkbox category-options">
            <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
            <label for="{{ slug }}">
                { title }}
            </label>
        </div>
    {{ /taxonomy:resource-source }}
    </div>    
  </fieldset>
  
    
  <button id="Reset">Clear Filters</button>
  </div>
</form>


<div id="Container" class="container">
    
      <div class="fail-message"><span>No links were found matching the selected filters</span></div>
      
<!--       end sidebar -->

    
        {{ collection from="{toolkit_collection}" }}
            {{ partial:toolkit/item }}
        {{ /collection }}
    
    </div>
    
</div>    <!-- End of Toolkit -->



    
    </div>
</main>