
<main>
    <div class="inner content">
    
    <div class="webinars-list">

    <h1 class="">{{ title }}</h1>

    
        <div class="news-story">
            
            
            <h3>{{ date format="d M Y" }}</h3>
  
                          
            {{ if mast_image }}
            <figure>
                {{ if image_link }}
                     <a href="{{ image_link }}" class="img-link" target="_blank"><img src="{{ mast_image }}">
                    </a>
                {{ else }}
                    <img src="{{ mast_image }}">
                {{ /if }}
            </figure>
            {{ /if }}
            
            {{ main_content }}

            {{ if news_attachments }}
                <p><strong>Resources:</strong></p>
                <div class="grid news-resources">
                {{ news_attachments }}
                
                    <p class="resource">
                        {{ asset:attachment }}
                        <a href="{{ url }}"> 
                        {{ asset:attachment_thumbnail }}<img src="{{ url }}" alt="{{ title }}">{{ /asset:attachment_thumbnail }}
                        {{ title }}
                        </a>
                       {{ /asset:attachment }}
                    </p>

            {{ /news_attachments }}     
            </div>        
            {{ /if }}
        </div>
    </div>
    </div>
</main>
