<!--     Sidebar -->

<form class="controls" id="Filters">

  <div class="sidebar">
    
  <h4>Filter resources by:</h4>
  
  <fieldset>
            <input id="region-toggle" type="checkbox" class="filter-toggle"><label for="region-toggle" title="Filter by Region">Region</label>
    
    <div class="toggle">    
     {{ taxonomy:resource-region }}
            <div class="checkbox">
            <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
            <label for="{{ slug }}">
                {{ title }}
            </label>
        </div>
    {{ /taxonomy:resource-region }}     
    </div>
  </fieldset>
  
  <fieldset>
    <input id="policy-toggle" type="checkbox" class="filter-toggle"><label for="policy-toggle" title="Filter by Policy">Policies</label>
    
    <div class="toggle">    
      {{ taxonomy:policy sort="title:asc" }}
      <div class="checkbox">
        <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
        <label for="{{ slug }}">
          {{ title }}
        </label>
      </div>
      {{ /taxonomy:policy }}
    </div>    
  </fieldset>
  
  <fieldset>
    <input id="guidance-toggle" type="checkbox" class="filter-toggle"><label for="guidance-toggle" title="Filter by Guidance Type">Guidance Type</label>
    
    <div class="toggle">    
      {{ taxonomy:guidance-type sort="title:asc" }}
      <div class="checkbox">
        <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
        <label for="{{ slug }}">
          {{ title }}
        </label>
      </div>
      {{ /taxonomy:guidance-type }}
    </div>    
  </fieldset>
  
  <fieldset>
    <input id="setting-toggle" type="checkbox" class="filter-toggle"><label for="setting-toggle" title="Filter by Setting">Setting</label>
    
    <div class="toggle">    
      {{ taxonomy:setting sort="title:asc" }}
      <div class="checkbox">
        <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
        <label for="{{ slug }}">
          {{ title }}
        </label>
      </div>
      {{ /taxonomy:setting }}
    </div>    
  </fieldset> 
  
  <fieldset>
    <input id="country-toggle" type="checkbox" class="filter-toggle"><label for="country-toggle" title="Filter by Country">Country</label>
    
    <div class="toggle">    
      {{ taxonomy:country sort="title:asc" }}
      <div class="checkbox">
        <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
        <label for="{{ slug }}">
          {{ title }}
        </label>
      </div>
      {{ /taxonomy:country }}
    </div>    
  </fieldset>
  
  <fieldset>
     <input id="language-toggle" type="checkbox" class="filter-toggle"><label for="language-toggle" title="Filter by Language">Language</label>
    
    <div class="toggle">    
     {{ taxonomy:resource-language sort="title:asc" }}
            <div class="checkbox">
            <input id="{{ slug }}" type="checkbox" value=".{{ slug }}" />
            <label for="{{ slug }}">
                {{ title }}
            </label>
        </div>
    {{ /taxonomy:resource-language }}
  </fieldset>
    
  <button id="Reset">Clear Filters</button>
  </div>
</form>


